/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Exo+2|Indie+Flower|Rock+Salt');


/*nav*/

.navbar {
    padding: 0;
    margin: 0;
}


/*introduction*/

h1 {
    font-size: 56px;
    font-family: 'Indie Flower', cursive;
    color: #3333cc;
    text-align: center;
    text-shadow: 2px 2px #66ffff;

}

.introduction-container {
    height: 250px;
    background-image: url(/assets/photos/Dogs.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    border: 1px solid #000000;

}

/*section*/

h2 {
    color: #3333cc;
    font-family: 'Rock Salt', cursive;
    font-size: 36px;
    text-decoration: underline;
    text-shadow: 2px 2px #66ffff;
}

h3 {
    color: #3333cc;
    font-family: 'Rock Salt', cursive;
    font-size: 36px;
    text-indent: 35px;
}

h4 {
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
}

h5 {
    font-family: 'Exo 2', cursive;
    font-size: 24px;
}


/*index*/


.training-tip {
    background-color: #d1d1e0;
    padding: 25px;
    margin: 25px;
}

.training-tip-day {
    background-color: #d1d1e0;
    padding: 25px;
    margin: 25px;
}

.training-tip-day p {
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 2px 2px #66ffff;
}

.training-tip-picture {
    padding: 25px;
    margin-bottom: 50px;
}

.training-tip-picture p {
    font-family: 'Exo 2', cursive;
    font-size: 14px;
}

.training-picture {
    width: 95%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 3px solid #3333cc;
}

/*training-tips*/



.training-tip p {
    font-family: 'Exo 2', cursive;
    font-size: 18px;
    color:#3333cc;
}

/*about*/

.pack-heading {
    font-size: 56px;
    font-family: 'Indie Flower', cursive;
    color: #000000;
    text-align: center;
    border: 5px solid #3333cc;
    margin-top: 25px;
}

.img-circle {
    padding-top: 10px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donna p {
    font-family: 'Exo 2', cursive;
    font-size: 18px;
}

.moz p {
    font-family: 'Exo 2', cursive;
    font-size: 18px;
}

.neo p {
    font-family: 'Exo 2', cursive;
    font-size: 18px;
}



/*video*/

video {
    width: 95%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.training-tip-video p {
    font-family: 'Exo 2', cursive;
    font-size: 14px;
}

/*contact page*/

#fullname {
    margin-bottom: 15px;
    border: 2px solid black;
}

#emailaddress {
    margin-bottom: 20px;
    border: 2px solid black
}

#problem {
    margin-bottom: 20px;
    border: 2px solid black
}


/*footer*/

footer {
    background-color: #000000;
    margin: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

.copyright p {
    color: white;
    padding-left: 20px;
}

.social-links {
    font-size: 42px;
    padding-right: 35px;
    text-align: right;
}
